@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "raleway", sans-serif, "arial";
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

/* Шапка сайта */
.header {
  margin-top: 40px;
  background-color: #ffe17f;
  color: #000000;
}

.main-header {
  height: 300px;
}

.navigation {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1040px;
  flex-wrap: wrap;
}

.header-logo img {
  display: inline-block;
  position: absolute;
  top: 20px;
}

.header-logo img:hover {
  opacity: 60%;
}

.header-logo img:active {
  opacity: 30%;
}

.header-logo img:focus-visible {
  outline: 2px solid #af4fff;
}

/* Поиск в меню */

.first-menu-container {
  margin-top: 46px;
  margin-bottom: 30px;
  display: flex;
  height: 40px;
  align-items: center;
}

.form-menu {
  display: flex;
  width: 517px;
  margin-right: 26px;
}

/* Войти */
.sign-in-list {
  margin: 0;
  padding: 0;
  min-width: 80px;
  display: flex;
  list-style: none;
}

.sign-in-item:nth-child(2) {
  opacity: 30%;
}

.sign-in-link {
  position: relative;
}

.sign-in-link:hover {
  opacity: 60%;
}

.sign-in-link:active {
  opacity: 30%;
}

.sign-in-link:focus-visible {
  outline: 2px solid #af4fff;
}

.sign-in-item + .sign-in-item {
  margin-left: 28px;
}

.sign-in-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.sign-in-link .sign-in-icon {
  right: auto;
  left: 0;
  margin: auto 0;
}

.sign-in-link span {
  padding-left: 24px;
}

/* Пользовательское меню */
.user-menu-list {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  list-style: none;
}

.user-menu-item:not(:first-child) {
  margin-left: 36px;
}

.user-menu-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.user-menu-link {
  position: relative;
}

.user-menu-link:hover {
  opacity: 60%;
}

.user-menu-link:active {
  opacity: 30%;
}

.user-menu-link:focus-visible {
  outline: 2px solid #af4fff;
}

.user-menu-link span {
  padding-left: 22px;
}

.user-menu-link span:last-child {
  padding-left: 25px;
}

.user-menu-link .user-menu-icon {
  right: auto;
  left: 0;
  margin: auto 0;
}

/* Посмотреть ещё товары */

.second-menu-container {
  display: flex;
  margin-bottom: 20px;
  height: 50px;
  align-items: center;
}

/* .toggler-button {
  margin: 0;
  display: flex;
  width: 293px;
  height: 50px;
} */

.toggler-link {
  display: block;
  width: 293px;
  height: 50px;
  text-decoration: none;
  position: relative;
}

.toggler-link:hover .toggler-icon {
  opacity: 100%;
}

.toggler-link:active .toggler-icon {
  opacity: 100%;
}

.toggler-link:focus-visible {
  outline: 2px solid #af4fff;
}

.toggler-name {
  display: inline-block;
  padding-top: 15px;
  padding-right: 57px;
  line-height: 21px;
  color: #000000;
  background-color: #ffe17f;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.toggler-icon {
  border: 2px solid #000000;
  padding: 16px;
  border-radius: 50%;
  opacity: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.toggler-link .toggler-icon {
  left: auto;
  right: 0;
}

/* Меню навигации */
.navigation-menu {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  list-style: none;
}

.navigation-item:not(:last-child) {
  margin-right: 56px;
}

.sign-in-link,
.user-menu-link {
  font-family: "rubik", sans-serif;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  background-color: #ffe17f;
  text-decoration: none;
}

.navigation-link {
  line-height: 21px;
  color: #000000;
  background-color: #ffe17f;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-link:hover {
  opacity: 60%;
}

.navigation-link:active {
  opacity: 30%;
}

.navigation-link:focus-visible {
  outline: 2px solid #af4fff;
}

/* Галерея товаров */
.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery-image {
  position: relative;
  bottom: 150px;
  width: 560px;
}

/* Описание товаров */
.description-number {
  position: absolute;
  top: 277px;
  left: 1075px;
  font-family: "rubik", sans-serif;
  font-size: 180px;
  font-weight: 700;
  color: #ffffff;
}

.gallery-description {
  bottom: 30px;
  width: 560px;
}

.gallery-description dl {
  position: relative;
  bottom: 28px;
  margin: 0;
}

.gallery-description-title {
  margin-bottom: 29px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.gallery-text {
  margin: 0;
  font-family: "rubik", sans-serif;
  line-height: 30px;
  color: #444444;
}

.gallery-description-link {
  margin-top: 20px;
}

.gallery-description-link:hover {
  background-color: #ffe17f;
}

.gallery-description-link:active {
  background-color: #ffcc33;
}

.gallery-description-link:focus-visible {
  outline: 2px solid #af4fff;
}

/* Для кнопок */
.button-yellow {
  padding: 16px 0;
  display: inline-block;
  position: relative;
  border: none;
  cursor: pointer;
}

.yellow-button-link {
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
}

.gallery-description-link::after {
  content: "Подробнее";
  position: absolute;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  bottom: 9px;
  left: 40px;
}

.distance-container {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.distance-title,
.defeat-title {
  margin-bottom: 12px;
  font-family: "rubik", sans-serif;
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
}

.distance-text,
.defeat-text {
  margin: 0;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

/* Список категорий товаров */
.category {
  margin-bottom: 70px;
}

.category-list {
  margin: 0;
  margin-bottom: 172px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 39px;
  list-style: none;
}

.category-background {
  background-color: #ffe17f;
  width: 160px;
  height: 160px;
}

.category-name {
  margin: 0;
  margin-top: 33px;
  display: block;
}

.category .category-image-1 {
  padding: 51px 32px;
}

.category .category-image-2 {
  padding: 44px 37px 1px;
}

.category .category-image-3 {
  padding: 37px 45px;
}

.category .category-image-4 {
  padding: 48px 27px 47px;
}

.category .category-image-5 {
  padding: 32px 52px 30px;
}

.category .category-image-6 {
  padding: 46px 14px 45px;
}

.category-link {
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  font-weight: 800;
}

.category-link:hover .category-background {
  background-color: #ffc700;
}

.category-link:active {
  opacity: 0.3;
}

.category-link:focus-visible {
  outline: 2px solid #af4fff;
}

/* Преимущества */
.advantages {
  background-color: #f0f0f0;
  margin-bottom: 70px;
  height: 289px;
}

.advantages-container {
  display: flex;
  position: relative;
  bottom: 47px;
}

.advantages-list {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.advantages-item {
  position: relative;
  margin-bottom: 35px;
}

.advantages-yellow-button {
  width: 160px;
}

.advantages-button-current {
  padding: 10px 20px;
  padding-right: 130px;
  border: none;
  cursor: pointer;
  background-color: #000000;
  color: #ffe17f;
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.vertical-line {
  position: absolute;
  top: -55px;
  left: 274px;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.advantages-button-2::after {
  content: "Гарантия";
  font-family: "raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  position: absolute;
  left: 22px;
  bottom: 9px;
}

.advantages-button-2:hover {
  background-color: #ffe17f;
}

.advantages-button-2:active {
  background-color: #ffcc33;
}

.advantages-button-2:focus-visible {
  outline: 2px solid #af4fff;
}

.advantages-button-3::after {
  content: "Кредит";
  font-family: "raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  position: absolute;
  left: 37px;
  bottom: 9px;
}

.advantages-button-3:hover {
  background-color: #ffe17f;
}

.advantages-button-3:active {
  background-color: #ffcc33;
}

.advantages-button-3:focus-visible {
  outline: 2px solid #af4fff;
}

.advantages-title {
  margin: 0;
  margin-bottom: 34px;
  margin-left: 116px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.advantages-text {
  margin: 0;
  margin-left: 116px;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.advantages-container svg {
  margin-left: 106px;
  margin-top: 25px;
}

/* Редкий товар под заказ */
.delivery-container {
  display: flex;
  background-color: #f0f0f0;
  justify-content: space-between;
  height: 100px;
}

.delivery-link {
  display: block;
  margin: 0 auto;
  width: 1160px;
  text-decoration: none;
  color: #000000;
}

.background-truck {
  background-color: #ffe17f;
  width: 125px;
  height: 100px;
}

.background-truck svg {
  padding: 34px 39px;
}

.delivery-title {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.i-container {
  width: 125px;
  height: 100px;
}

.i-subcontainer {
  margin: 30px 42px;
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.i-icon {
  margin: 14px 19px;
}

.delivery-link:hover .background-truck {
  background-color: #ffc700;
}

.delivery-link:hover .i-icon g {
  opacity: 100%;
}

.delivery-link:active .delivery-container {
  opacity: 30%;
}

.delivery-link:focus-visible {
  outline: 2px solid #af4fff;
}

/* О нас */
.information-container {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 520px;
}

.black-line {
  margin-top: 70px;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-us-title {
  margin: 0;
  margin-top: 47px;
  margin-bottom: 48px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-us-text {
  margin: 0;
  margin-bottom: 30px;
  font-family: "rubik";
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.about-us-list {
  margin: 0;
  padding: 0;
  font-family: "rubik", sans-serif;
  font-weight: 700;
  letter-spacing: -2%;
}

.about-us-list li {
  margin-bottom: 19px;
  color: #ffc700;
}

.about-us-list li:last-child {
  margin-bottom: 40px;
}

.about-us-list span {
  color: #000000;
}

.about-us-yellow-button {
  width: 270px;
}

.about-us-button:hover {
  background-color: #ffe17f;
}

.about-us-button:active {
  background-color: #ffcc33;
}

.about-us-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: -1px;
}

.about-us-button::after {
  content: "Подробнее о нас";
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 3px;
  text-decoration: none;
  position: absolute;
  bottom: 9px;
  left: 28px;
}

/* Контакты */
.contacts {
  margin-bottom: 70px;
  width: 532px;
}

.contacts-title {
  margin: 0;
  margin-top: 47px;
  margin-bottom: 48px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-text {
  margin: 0;
  margin-bottom: 30px;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-family: "rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address {
  margin-bottom: 30px;
  font-family: "rubik", sans-serif;
  font-style: normal;
  color: #444444;
}

.contacts-address-text {
  margin: 0;
  font-weight: 400;
  line-height: 30px;
}

.contacts-phone {
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  color: #444444;
  line-height: 30px;
}

.contacts-yellow-button {
  width: 259px;
}

.contacts-button::after {
  content: "Напишите нам";
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 3px;
  text-decoration: none;
  position: absolute;
  bottom: 9px;
  left: 40px;
}

.contacts-button:hover {
  background-color: #ffe17f;
}

.contacts-button:active {
  background-color: #ffcc33;
}

.contacts-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: -1px;
}

/* Рассылка */
.subscribe {
  background-color: #f0f0f0;
}

.subscribe-container {
  display: flex;
  flex-wrap: wrap;
}

.subscribe-title {
  margin: 0;
  margin-top: 64px;
  margin-bottom: 144px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscribe-text {
  margin: 0;
  margin-top: 74px;
  margin-left: 252px;
  margin-bottom: 144px;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.subscribe-form-wrapper {
  margin-bottom: 56px;
  display: flex;
  justify-content: space-between;
  width: 1158px;
  height: 57px;
}

.subscribe-form {
  display: flex;
}

.subscribe span {
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

/* Подвал сайта */
.page-footer {
  font-family: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #444444;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.page-footer a {
  color: #ffffff;
}

/* Подвал-адрес */
.footer-address {
  width: 240px;
}

.footer-device-link {
  display: block;
}

/* Логотип девайс в подвале */
.footer-address svg {
  margin-top: 62px;
  margin-bottom: 35px;
}

.footer-address svg:hover {
  opacity: 60%;
}

.footer-address svg:active {
  opacity: 30%;
}

.footer-address svg:focus-visible {
  outline: 2px solid #af4fff;
}

.footer-address address {
  font-style: normal;
}

.footer-address-text {
  margin: 0;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.yellow-stick {
  margin-top: 64px;
  background-color: #ffc700;
  width: 80px;
  height: 7px;
}

/* Подвал-навигация */
.footer-menu {
  margin-top: 137px;
  width: 444px;
}

.footer-menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2px;
}

.footer-menu-link {
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-menu-link:hover {
  color: #ffc700;
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 2px solid #ffc700;
}

.footer-menu-link:active {
  color: #ffc700;
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 2px solid #ffc700;
  opacity: 30%;
}

.footer-menu-link:focus-visible {
  outline: 2px solid #af4fff;
}

/* Подвал социальные сети */
.footer-social-list {
  margin: 0;
  margin-left: 147px;
  margin-top: 62px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-social-link {
  margin-right: 15px;
  display: block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
}

.footer-social-link:hover {
  background-color: #ffc700;
}

.footer-social-link:active {
  background-color: #ffc700;
}

.footer-social-link:active svg {
  opacity: 30%;
}

.footer-social-link:focus-visible {
  outline: 2px solid #af4fff;
}

.footer-social-item:last-child .footer-social-link {
  margin-right: 0;
}

.footer-social-link svg {
  padding: 14px 13px;
}

/* Подвал номер телефона */
.footer-contacts-phone {
  margin-top: 140px;
  margin-bottom: 65px;
  max-width: 180px;
}

.footer-phone {
  display: block;
  margin-bottom: 63px;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-phone:active {
  color: #ffc700;
  opacity: 30%;
}

.footer-phone:focus-visible {
  outline: 2px solid #af4fff;
}

.footer-htmlacademy-link {
  margin-left: 60px;
}

.footer-htmlacademy-link:focus-visible {
  outline: 2px solid #af4fff;
}

.footer-htmlacademy-link:hover path {
  fill: #ffffff;
}

.footer-htmlacademy-link:active path {
  fill: #ffffff;
  opacity: 30%;
}

/* Стили для каталога */

.sign-out-link {
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.inner-header-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/* Заголовок страницы каталога */
.inner-header-title {
  margin-top: 35px;
  margin-bottom: 16px;
}

/* Хлебные крошки */
.breadcrumbs {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  display: flex;
  list-style: none;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.breadcrumbs-item {
  margin-right: 34px;
  position: relative;
}

.breadcrumbs-item:first-child .breadcrumbs-arrow {
  position: absolute;
  top: 7px;
  left: 78px;
}

.breadcrumbs-item:nth-child(2) .breadcrumbs-arrow {
  position: absolute;
  top: 7px;
  left: 143px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:active {
  opacity: 30%;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #af4fff;
}

/* Фильтр каталога */
.catalog-products {
  background-color: #f0f0f0;
}

.catalog-products-container {
  display: flex;
}

.filter-container {
  width: 320px;
}

.filter-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-filter::after {
  content: "Показать";
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 3px;
  text-decoration: none;
  position: absolute;
  bottom: 9px;
  left: 53px;
}

.button-filter:hover {
  background-color: #ffe17f;
}

.button-filter:active {
  background-color: #ffcc33;
}

.button-filter:focus-visible {
  outline: 2px solid #af4fff;
}

.catalog-right-column {
  width: 840px;
}

/* Сортировка товаров  */
.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.sorting-title {
  margin: 0;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.button-prev,
.button-next {
  width: 30px;
  height: 30px;
  text-decoration: none;
}

.sorting-container svg {
  padding: 10px;
  opacity: 20%;
}

/* Различные товары */
.product-container {
  background-color: #ffffff;
  padding: 70px 40px 78px;
}

.product-list {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  display: grid;
  column-gap: 40px;
  row-gap: 44px;
  grid-template-columns: 360px 360px;
  list-style: none;
}

.product-link {
  display: grid;
  grid-template-rows: 380px 32px 40px;
  grid-template-columns: 226px 134px;
  width: 360px;
  height: 452px;
  text-decoration: none;
}

.product-link:hover {
  opacity: 60%;
}

.product-link:active {
  opacity: 30%;
}

.product-link:focus-visible {
  outline: 2px solid #af4fff;
}

.product-title {
  margin: 0;
  max-width: 224px;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  font-family: "rubik", sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  color: #000000;
}

.product-card-price {
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 21px;
  color: #444444;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: end;
}

/* кнопка показать еще */
.product-show-more {
  margin-bottom: 44px;
  padding: 18px 294px;
  border: 3px solid #e5e5e5;
  font-family: "raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ffffff;
}

/* Пагинация */
.pagination-container {
  display: flex;
  background-color: #ebebeb;
}

.pagination-prev {
  display: block;
  padding: 25px;
  margin-right: auto;
  align-self: center;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  opacity: 30%;
}

.pagination-prev:hover {
  background-color: #dcdcdc;
}

.pagination-prev:active {
  opacity: 30%;
}

.pagination-prev:focus-visible {
  outline: 2px solid #af4fff;
}

.pagination {
  margin: 15px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.pagination-current {
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  font-family: "rubik", sans-serif;
  width: 40px;
  height: 40px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  opacity: 60%;
  text-decoration: none;
}

.pagination-current:focus-visible {
  outline: 2px solid #af4fff;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  font-family: "rubik", sans-serif;
  width: 40px;
  height: 40px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  opacity: 30%;
  text-decoration: none;
}

.pagination-item:last-child .pagination-link {
  padding-left: 11px;
}

.pagination-link:hover {
  opacity: 100%;
}

.pagination-link:active {
  opacity: 30%;
}

.pagination-link:focus-visible {
  outline: 2px solid #af4fff;
}

.pagination-next {
  display: block;
  padding: 25px;
  margin-left: auto;
  align-self: center;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.pagination-next:hover {
  background-color: #dcdcdc;
}

.pagination-next:active {
  opacity: 30%;
}

.pagination-next:focus-visible {
  outline: 2px solid #af4fff;
}
