@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "raleway", sans-serif, "arial";
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

/* Шапка сайта */
.header {
  background-color: #ffe17f;
  color: #000000;
}

.navigation {
  margin: 0 auto;
  display: flex;
  width: 1040px;
  flex-wrap: wrap;
}

.header-logo img {
  position: absolute;
}

.sign-in-list,
.user-menu-list,
.navigation-menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.form-menu {
  width: 515px;
  margin-right: 26px;
}

.sign-in-list {
  min-width: 80px;
}

.sign-in-item:not(:last-child) {
  margin-right: 35px;
}

.sign-in-item:nth-child(2) {
  opacity: 30%;
}

.sign-in-link svg {
  margin-right: 13px;
}

.user-menu-list {
  width: 240px;
}

.user-menu-item {
  margin-left: 36px;
}

.user-menu-link svg {
  margin-right: 12px;
}

.navigation-item {
  margin-left: 50px;
}

.toggler-link {
  width: 293px;
}

.navigation-menu {
  margin-left: auto;
}

.sign-in-link,
.user-menu-link {
  font-family: "rubik", sans-serif;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  background-color: #ffe17f;
  text-decoration: none;
}

.toggler-link,
.navigation-link {
  line-height: 21px;
  color: #000000;
  background-color: #ffe17f;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Описание товаров */

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery-image {
  width: 560px;
}

.gallery-description {
  width: 560px;
}

.gallery-description dl {
  margin: 0;
}

.gallery-description-title {
  margin-bottom: 29px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.gallery-text {
  margin: 0;
  margin-bottom: 50px;
  font-family: "rubik", sans-serif;
  line-height: 30px;
  color: #444444;
}

.gallery-description-link {
  padding: 10px 5px;
  color: #000000;
  background-color: #ffe17f;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.distance-container {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.distance-title,
.defeat-title {
  margin-bottom: 12px;
  font-family: "rubik", sans-serif;
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
}

.distance-text,
.defeat-text {
  margin: 0;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

/* Список категорий товаров */

.category {
  margin-bottom: 70px;
}

.category-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
  list-style: none;
}

.category-background {
  background-color: #ffe17f;
  width: 160px;
  height: 160px;
}

.category-name {
  margin: 0;
  margin-top: 33px;
  display: block;
}

.category .category-image-1 {
  padding: 51px 32px;
}

.category .category-image-2 {
  padding: 44px 37px 1px;
}

.category .category-image-3 {
  padding: 37px 45px;
}

.category .category-image-4 {
  padding: 48px 27px 47px;
}

.category .category-image-5 {
  padding: 32px 52px 30px;
}

.category .category-image-6 {
  padding: 46px 14px 45px;
}

.category-link {
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  font-weight: 800;
}

/* Преимущества */

.advantages {
  background-color: #f0f0f0;
  margin-bottom: 70px;
}

.advantages-container {
  display: flex;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list {
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.advantages-title {
  margin: 0;
  margin-bottom: 34px;
  margin-left: 243px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.advantages-text {
  margin: 0;
  margin-left: 243px;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.advantages-container svg {
  margin-left: 106px;
}

/* Редкий товар под заказ */

.delivery-container {
  display: flex;
  background-color: #f0f0f0;
  justify-content: space-between;
}

.background-truck {
  background-color: #ffe17f;
  width: 125px;
  height: 100px;
}

.background-truck svg {
  padding: 35px 39px 34px;
}

.delivery-title {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 3px;
}

.background-exclamation-point svg {
  padding: 30px 42px;
}

/* О нас */

.information-container {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 520px;
}

.about-us-title {
  margin: 0;
  margin-top: 47px;
  margin-bottom: 48px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-us-text {
  margin: 0;
  margin-bottom: 30px;
  font-family: "rubik";
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.about-us-list {
  margin: 0;
  padding: 0;
  font-family: "rubik", sans-serif;
  font-weight: 700;
  letter-spacing: -2%;
}

.about-us-list li {
  margin-bottom: 19px;
  color: #ffc700;
}

.about-us-list li:last-child {
  margin-bottom: 40px;
}

.about-us-list span {
  color: #000000;
}

.about-us-button {
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  letter-spacing: 3px;
  text-decoration: none;
  background-color: #ffe17f;
}

/* Контакты */

.contacts {
  margin-bottom: 70px;
  width: 532px;
}

.contacts-title {
  margin: 0;
  margin-top: 47px;
  margin-bottom: 48px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-text {
  margin: 0;
  margin-bottom: 30px;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-family: "rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address {
  margin-bottom: 30px;
  font-family: "rubik", sans-serif;
  font-style: normal;
  color: #444444;
}

.contacts-address-text {
  margin: 0;
  font-weight: 400;
  line-height: 30px;
}

.contacts-phone {
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  color: #444444;
  line-height: 30px;
}

.contacts-button {
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  letter-spacing: 3px;
  text-decoration: none;
  background-color: #ffe17f;
}

/* Рассылка */
.subscribe {
  background-color: #f0f0f0;
}

.subscribe-container {
  display: flex;
  flex-wrap: wrap;
}

.subscribe-title {
  margin: 0;
  margin-top: 64px;
  margin-bottom: 144px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscribe-text {
  margin: 0;
  margin-top: 74px;
  margin-left: 252px;
  margin-bottom: 144px;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.subscribe span {
  margin-bottom: 69px;
  margin-left: auto;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

/* Подвал сайта */
.page-footer {
  font-family: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #444444;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.page-footer a {
  color: #ffffff;
}

/* Подвал-адрес */

.footer-address {
  width: 240px;
}

.footer-address svg {
  margin-top: 62px;
  margin-bottom: 35px;
}

.footer-address address {
  font-style: normal;
}

.footer-address-text {
  margin: 0;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 20px;
}

/* Подвал-навигация */
.footer-menu {
  margin-top: 137px;
  width: 444px;
}

.footer-menu-list {
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  padding-left: 25px;
  display: flex;
  list-style: none;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2px;
}

.footer-menu-item:not(:last-child) {
  margin-right: 35px;
}

.footer-menu-link {
  font-weight: 800;
  text-decoration: none;
}

/* Подвал социальные сети */

.footer-social-list {
  margin: 0;
  margin-bottom: 61px;
  padding: 0;
  padding-left: 143px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
}

/* Подвал номер телефона */

.footer-contacts-phone {
  margin-top: 140px;
  margin-bottom: 65px;
  max-width: 180px;
}

.footer-contacts-phone svg {
  padding-left: 60px;
}

.footer-phone {
  display: block;
  margin-bottom: 63px;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 20px;
}

/* Стили для каталога */

.sign-out-link {
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.inner-header-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/* Хлебные крошки */
.breadcrumbs {
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.breadcrumbs-link:first-child {
  text-decoration: none;
  color: #000000;
}

/* Фильтр каталога */

.catalog-products {
  background-color: #f0f0f0;
}

.catalog-products-container {
  display: flex;
}

.filter-container {
  width: 320px;
}

.filter-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-filter {
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.catalog-right-column {
  width: 840px;
}

/* Различные товары */

.product-container {
  background-color: #ffffff;
}

.product-link {
  font-family: "rubik", sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  text-decoration: none;
  color: #000000;
}

.product-card-price {
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 21px;
  color: #444444;
}

/* Пагинация */
.pagination-prev {
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.pagination-next {
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
