@font-face {
    font-family: "raleway";
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "raleway", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
}

.header {
    background-color: #FFE17F;
    color: #000000;
}

.search-menu-link,
.user-menu-link {
    font-family: "rubik";
    line-height: 30px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    background-color: #FFE17F;
    text-decoration: none;
}

.toggler-link,
.navigation-link {
    font-family: "raleway", sans-serif;
    line-height: 21px;
    color: #000000;
    background-color: #FFE17F;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;

}

.gallery-description-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.gallery-text {
    font-family: "rubik", sans-serif;
    line-height: 30px;
}

.gallery-description-link {
    padding: 10px 5px;
    color: #000000;
    background-color: #FFE17F;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.distance-title,
.defeat-title {
    font-family: "rubik", sans-serif;
    font-size: 36px;
    line-height: 30px;
    font-weight: 400;
}

.distance-text,
.defeat-text {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.category-background {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
}

.category .category-image:first-child {
    padding: 54px 31px 51px 32px;
}



.category-link {
    font-family: "raleway", sans-serif;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    font-weight: 800;

}

